@media (min-width: 64em) {
    #header .mobile-menu {
        display: none;
    }
}

@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #slider {
        margin-top: 29px;
    }

    #header .mobile-menu {
        display: none;
    }
}

@media (max-width: 46.1875em) {
    #header {
        overflow: hidden;
        height: 46px;
    }

    #nav, .s-full-width {
        width: 100%;
    }

    #nav li {
        width: 100%;
        display: block;
    }

    #nav li a {
        width: 100%;
        text-align: left;
    }

    #nav .pc-hide {
        display: block;
    }

    #header .search-btn .ti-search, 
    #header .search-btn .ti-angle-down,
    #nav .mobile-hide,
    #slider #text-content {
        display: none;
    }

    .js-nav-btn {
        display: inline-block;
    }

    #nav .mobile-nav {
        display: inline-block;
        width: auto;
    }

    #header .mobile-menu {
        position: absolute;
        right: 0;
        top: 0;
    }

    #header .mobile-menu:hover .ti-menu{
        color: #000;
        background-color: #ccc;
    }

    #content .members,
    #content .place .place-show,
    #contact .contact-infor,
    #contact .fill-infor,
    #contact .fill-infor .infor-add {
        width: 100%;
    }

    #content .place .place-show {
        padding-bottom: 16px;
    }

    #content .img-members {
        width: 60%;
    }

    #content .place .place-show {
        width: 100%;
    }

    #contact .infor-add:first-child {
        padding-bottom: 16px;
    }

    #contact .last-add-infor {
        padding-top: 8px;
    }

    #contact .contact-infor {
        padding-bottom: 16px;
    }
}
