.text-while {
    color: #fff !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.clear {
    clear: both;
}

#main {

}

#header {
    height: 46px;
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 1;
} 

#header .search-btn,
#header .mobile-menu {
    float: right;
    display: inline-block;
    height: 46px;
}

.search-btn .ti-search,
.mobile-menu .ti-menu{
    display: block;
    color: white;
    font-size: 16px;
    line-height: 46px;
    padding: 0 24px;
}

.search-btn:hover .ti-search {
    background-color: red;
    cursor: pointer;
}

#nav .pc-hide {
    display: none;
}

#nav, #nav > li {
    display: inline-block;
}

#nav > li > a {
    color: white;
    position: relative;
    top: 0;
    text-transform: uppercase;
}

#nav li a {
    padding: 12px 24px;
    text-decoration: none;
    line-height: 22px;
    display: inline-block;
}

#nav > .nav-btn:hover > a {
    color: black;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: block;
}

#nav, .subnav {
    list-style-type: none;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
}

#nav i {
    font-size: 10px;
}

#nav .subnav li {
    display: block;
    box-shadow: 0 0 1 rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: black;
    min-width: 160px;
    padding: 8px 16px;
    line-height: 22px;
}

.subnav > li:hover > a {
    background-color: #ccc;
    
}

#slider {
    position: relative;
    padding-top: 50%;
    margin-top: 46px;
    background: url('../img/la.jpg') top center / cover no-repeat;
}

#slider #text-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 47px;
    color: #fff;
    text-shadow: 0 0 1px #000;
}

#slider .heading-text {
    text-align: center;
    font-weight: 500;
    margin-bottom: 25px;
    font-size: 24px;
}

#slider .descripsion {
    font-size: 15px;
}

#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

#content .heading-content {
    margin: 10px 0;
    font-size: 30px;
    line-height: 45px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
}

#content .sub-heading-content {
    text-align: center;
    margin: 15px 0;
    opacity: 0.6;
    line-height: 1.5;
    font-size: 15px;
}
#content .about {
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
    margin: 15px 0;
}

#content .band-infor {
    padding: 32px 0;
}

#content .members {
    float: left;
    width: 33.33333%;
    text-align: center;
}

#content .name {
    padding: 15px 0;
    font-size: 15px;
}

#content .img-members {
    width: 154px;
    border-radius: 4px;
}

.tour-section {
    background-color: #000;
}

.tour-section > .content-section {
    color: white;
}

.calender-act {
    list-style-type: none;
    border: 1px solid #ccc;
    line-height: 1.5;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 0px;
    border-color: #ccc;
    border-style: solid;
}
.month-act {
    display: block;
    background-color: #fff;
    color: #757575;
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
}

.sold-out {
    background-color: #f44336;
    padding: 0 8px;
    margin-left: 16px;
}

.amout-tickets {
    background-color: #000;
    float: right !important;
    border-radius: 50%;
    padding: 0 8px;
    margin-right: 16px;
}

.tour-section .place {
    padding: 32px 8px;
    margin: 0 -16px;
    color: #000;
}

.place-show {
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}

.img-place {
    width: 100%;
    display: block;
}

.img-place:hover {
    opacity: 0.6;
}

.infor-show {
    background-color: #fff;
    padding: 0.150px 16px;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.place-name {
    margin: 15px 0;
    font-weight: 630;
    display: block;
}

.date-show {
    margin: 15px 0;
    display: block;
}

.place-description {
    margin: 15px 0;
    display: block;
}

.btn {
    display: inline-table;
    background-color: #000;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: 450;
    margin-bottom: 16px;
    line-height: 1.5;
    border: none;
}

.btn:hover {
    background-color: #ccc;
    color: #000 !important;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    display: none;
    animation: modalFadeIn 0.35s;
}

.modal.open {
    display: flex;
}

.modal .modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 64px);
    min-height: 200px;
    position: relative;
}

.modal .modal-header {
    background-color: #009688;
    height: 130px;
    padding: 32px 16px;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
}

.ti-bag {
    margin-right: 8px;
}

.modal .modal-header p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    text-align: center;
    padding: 8px 16px;
    color: #fff;
    line-height: 1.5;
    font-size: 22px;
    cursor: pointer;
}

.modal-close:hover {
    color: #000;
    background-color: #ccc;
}

.modal-body {
    padding: 0 16px;
}

.modal-label {
    margin: 15px 0;
    display: block;
}

.modal-input {
    border: 1px solid #ccc;
    padding: 8px;
    display: block;
    width: 100%;
    line-height: 1.5;
}

#buy-tickets {
    display: block;
    width: 100%;
    border: none;
    margin: 16px 0;
    padding: 16px;
    background-color: #009688;
    line-height: 1.5;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
}

#buy-tickets:hover {
    color: #000;
    background-color: #ccc;
}

.modal-footer {
    display: block;
    text-align: right;
    margin: 15px 0;
}

.modal-footer a {
    color: blue;
}

.contact-infor {
    font-size: 18px;
    line-height: 1.5;
}

.address {
    display: block;
    padding: 4px 0;
    text-align: left;
}

.form-control {
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
}

.infor-add {
    width: 50%;
    padding-bottom: 8px;
}

.main-contact {
    display: block;
    padding: 32px 0;
}

form > .btn {
    float: right;
    margin-top: 16px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    align-items: center;
    text-align: center;
    font-size: 22px;
}

.social a {
    text-decoration: none;
    color:#757575;
    cursor: pointer;    
}

.social a:hover {
    opacity: 0.8;
}

.dec-footer {
    margin: 15px 0;
}

.dec-footer a, .dec-footer p {
    font-size: 12px;
    line-height: 1.5;
    color: #757575;
}
a {
    cursor: pointer;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 
    PC: >= 1024px
    Tablet: >= 740px & < 1024px
    Mobile: < 740px
*/

